<div ng-controller="notificationsAppCtl">
    <div ng-if="!isLoading" class="row">
        <div ng-if="1 == 0" class="search">
            <div class="search-wrapper card">
                <input id="search" placeholder="Search all chat sessions"><i class="material-icons">search</i>
                <div class="search-results"></div>
            </div>
        </div>
        <div class="row"></div>
        <ul ng-if="notifications.length > 0" class="collection">
            <li ng-repeat="notification in notifications" class="collection-item avatar">
                <a ng-click="showUserMenu(notification.uid)" href="javascript:void(0)">
                    <img ng-src="{{notification.avatar}}" alt="{{notification.nickname}}" class="circle">
                    {{notification.nickname}}
                    <span ng-if="notification.isRead == 0" class="chip red white-text">NEW</span>
                </a>
                <div class="grey-text">{{notification.dateline}}</div>
                <div ng-if="notification.sessionid == ''">{{notification.content}}</div>
                <div ng-if="notification.sessionid != ''"><a ng-href="{{'#!/chatsession/'+notification.sessionid}}">{{notification.content}}</a></div>
            </li>
        </ul>
    </div>
</div>